.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

.instruction {
    font-weight: 500;
    font-size: 1.25rem;
    text-align: center;
}

.instruction b {
    color: var(--clr-accent-400);
}

.mantap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.hide {
    display: none;
}